.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.section {
  padding-top: 7px;
  padding-bottom: 7px;
}

.log-container {
  padding-bottom: 5px;
}

.larger {
  font-size: 1.1rem;
  margin-bottom: 7px;
}

hr {
  padding: 0;
  margin: 0;
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;
}

.w-100 {
  margin-top: 5px;
}

.submit-title {
  display: inline-block;
  margin-top: 5px;
}

.close-btn {
  margin-bottom: 7px;
  margin-top: 0px;
  padding-left: 4px !important;
  padding-right: 4px !important;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
}

.assign {
  margin-top: 5px;
}
.closing {
  margin-top: 7px;
}
